!!!
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    script(type="text/javascript", src="js/libs.js")
    script(type="text/javascript", src="js/blocks.js")
  body.b-page
    div.b-header
      div.l-container.b-header__container
        div.b-logo
          h1.b-logo__brand #{brand}
