h1 {
  font-size: 2.142em
  line-height: 1.1333em
  margin-bottom: 0.2666em
}

h2 {
  font-size: 1.714em
  line-height: 1.1666em
  margin-bottom: 0.4555em
}

h3 {
  font-size: 1.429em
  line-height: 1.4em
  margin-bottom: 0.4em
}

h4 {
  font-size: 1.143em
  line-height: 1.65em
  margin-bottom: 0.4555em
}

h5 {
  font-size: 1em
  line-height: 1.65em
  margin-bottom: 0.5em
}

h6 {
  font-size: 0.857em
  line-height: 1.5em
  margin-bottom: 0.4555em
  text-transform: uppercase
}

a {
  color: #06c
}

a:hover,
a:focus {
  color: #c04
}

a:visited {
  color: #b0c
}

sub,sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}
